/* SCSS HEX */
$skobeloff: #00635dff;
$cadet-blue-crayola: #a8aec1ff;
$opal: #b5d2cbff;
$dark-purple: #190b28ff;
$blue-sapphire: #2e6171ff;
$deep-space-sparkle: #466362ff;
$davys-grey: #605f5eff;
